*{
    padding: 0;
    margin: 0;
}
:root{
    --position-bottom : 20px;
    --left : 20px;
    --even-clr : rgb(228, 226, 226);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.title{
    position: absolute;
    top: 80px;
    font-family: monospace;
    font-size: 30px;
}
.result{
    position: absolute;
    bottom: 320px;
    font-family: monospace;
    font-size: 50px;
}
.board{
    position: relative;
    width: 300px;
    height: 300px;
    transform: translateY(-50%);
    border: 1px solid var(--even-clr);
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.box:nth-child(odd){
    background: var(--even-clr);
}
.box{
    position: relative;
    cursor: pointer;
}
.fa-circle{
    font-size: 5rem;
    position: absolute;
    top: 10px;
    left: 9px;
}
.fa-times{
    font-size: 5rem;
    position: absolute;
    top: 12px;
    left: 20px;
}


/* .snake{
    position: absolute;
    width: 30px;
    height: 10px;
    background-color: blueviolet;
    top: 30px;
    left: var(--left);
    animation: snakeAnime 3s linear infinite;
}
@keyframes snakeAnime{
    0%{left: 20px;}
    100%{left: 570px;}
}
@keyframes snakeBotom{
    0%{bottom: 290px;}
    100%{top: 290px;}
}
.down{
    position: absolute;
    left: 50%;
    top: 360px;
    width: 50px;
    height: 30px;
    cursor: pointer;
} */