@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
// width
$max-width: 1600px;
// color
$ground: #e3e2df;
$primary: #5d001e;
$secondary: #9a1750;
$light: #e3afbc;
$suit: #ee4c7c;
// font size
$h1: 50px;
$h2: 30px;
// font family
$font-text: 'Nova Mono', monospace;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header{
    height: 100vh;
.navbar {
  height: 10vh;
  max-width: $max-width;
  background: transparent;
  width: 100%;
  font-family: $font-text;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    color: $suit;
    flex: 4;
    letter-spacing: 10px;
    h2 {
      font-size: $h2;
      text-transform: uppercase;
    }
  }
  nav{
      display: flex;
      justify-content: space-between;
      font-size: 17px;
      flex: 2;
      a{
          text-decoration: none;
          color: $suit;
          &:hover{
              color: $secondary;
          }
      }
  }
}
.header__inner{
    display: flex;
    height: 90vh;
    &__left{
        flex: 6;
        display: flex;
        // justify-content: center;
        align-items: center;
        >div{
            padding-left: 80px;
            text-transform: capitalize;

            >h2{
                color: $suit;
                font-size: 60px;
                margin-bottom: 17px;
            }
            >h4{
                margin-bottom: 12px;
                font-size: $h1;
            }
            >button{
                border: none;
                padding: 7px 15px;
                background: #ee4c7c;
                color: white;
                border-radius: 5px;
                outline: none;
                font-size: 17px;
                &:hover{
                    background: $secondary;
                }
            }
        }
    }
    &__right{
        flex: 3;
        background-image: url('../img/undraw_Coding_re_iv62.svg');
        background-repeat: no-repeat;
        background-position: center;
        // transform: scaleX(-1);
    }
}
}
